

@foreach (var item in Model)
{
    <div class="col-lg-6 col-md-6 col-sm-6 banner-lg">
        <a href="@item.action">
            <img src="Assets/fontend/images/demos/demo-22/banner/@item.img">
        </a>
        <div class="banner-content">
            <div class="title">
                <a href="@item.action">@item.title</a>
            </div>
            <div class="content">
                <a href="@item.action"> 
                    @Html.Raw(HttpUtility.HtmlDecode(item.content.ToString()))
                </a>
            </div>
            <div class="">
                <a href="@item.action">discover now</a>
            </div>
        </div>
    </div>
}
