
@model  List<Shoponline1.Models.category>


@foreach (var item in Model)
{

    <div class="container popular">
        <hr class="mb-5">

        <div class="section-title">
            <div><p class="title"><span><a href="@ViewBag.meta/@item.meta" style="text-decoration:none; color:black;">@item.name</a></span></p></div>

            <a class="link" href="#">See All Products</a>
        </div>

        <div class="row products"> 
            @Html.Action("getProduct","Home",new { id = @item.id,metatitle = @ViewBag.meta});
        </div><!-- End .row -->
    </div>

     
 }

