@model IEnumerable<Shoponline1.Models.menu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/_AdminLayout.cshtml";
}

@section _Header{

    <link href="~/Areas/admin/Assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
} 
 


<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">DataTables</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Areas/admin/Assets/./">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active" aria-current="page">DataTables</li>
        </ol>
    </div>

    <div class="row mb-3">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1"> số lượng</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">123</div>
                            <div class="mt-2 mb-0 text-muted text-xs">
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                <span>Since last month</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Earnings (Annual) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Sales</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">650</div>
                            <div class="mt-2 mb-0 text-muted text-xs">
                                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                                <span>Since last years</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-shopping-cart fa-2x text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- New User Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">New User</div>
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">366</div>
                            <div class="mt-2 mb-0 text-muted text-xs">
                                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 20.4%</span>
                                <span>Since last month</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-info"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Pending Requests</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                            <div class="mt-2 mb-0 text-muted text-xs">
                                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                                <span>Since yesterday</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-warning"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <a href="@Url.Action("Create","menus")" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Create item menu</span>
        </a>
        <!-- Row -->
        <div class="row">
            <!-- Datatables -->
            <!-- DataTable with Hover -->
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">DataTables with Hover</h6>
                    </div>
                    <div class="table-responsive p-3">
                        <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                            <thead class="thead-light">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.link)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.meta)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.hide)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.order)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.datebegin)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.link)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.meta)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.hide)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.order)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.datebegin)
                                    </th> 
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.link)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.meta)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.hide)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.order)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.datebegin)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Edit","menus", new { id = item.id })" class="btn btn-success btn-sm">
                                                <i class="fas fa-sm fa-edit"></i>
                                            </a>
                                            <a href="@Url.Action("Details","menus", new { id = item.id })" class="btn btn-warning btn-sm">
                                                <i class="fas fa-sm fa-exclamation-triangle"></i>
                                            </a>
                                            <a href="@Url.Action("Delete","menus", new { id = item.id })" class="btn btn-danger btn-sm">
                                                <i class="fas fa-sm fa-trash-alt"></i>
                                            </a> 
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--Row-->
        <!-- Documentation Link -->
        <div class="row">
            <div class="col-lg-12">
                <p>
                    DataTables is a third party plugin that is used to generate the demo table below. For more information
                    about DataTables, please visit the official <a href="~/Areas/admin/Assets/https://datatables.net/" target="_blank">
                        DataTables
                        documentation.
                    </a>
                </p>
            </div>
        </div>

        <!-- Modal Logout -->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to logout?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                        <a href="~/Areas/admin/Assets/login.html" class="btn btn-primary">Logout</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
<!---Container Fluid-->

@section _Footer{

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="~/Areas/admin/Assets/#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
     
    <!-- Page level plugins -->
    <script src="~/Areas/admin/Assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Areas/admin/Assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable(); // ID From dataTable
            $('#dataTableHover').DataTable(); // ID From dataTable with Hover
        });
    </script>
}